@model CRMSanto.Models.Karaktertrek
@{
    List<CRMSanto.Models.Karaktertrek> list = (List<CRMSanto.Models.Karaktertrek>)ViewData["Karaktertreken"];
    List<CRMSanto.Models.Karaktertrek> currentlist = (List<CRMSanto.Models.Karaktertrek>)ViewData["Karaktertrek"];
    if (currentlist == null)
    {
        currentlist = new List<CRMSanto.Models.Karaktertrek>();
    }
        
}

    @Html.DropDownListFor(model => model.ID, new SelectList(list, "ID", "Naam"), new { @class = "browser-default" })
    @*<select>
        <option value="" disabled selected>--</option>
        @foreach (var item in list)
        {
            <option value="@item.ID">@item.Naam</option>
        }
    </select>*@
    @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })

