@if (Request.IsAuthenticated)
{
        <li><i class="mdi-action-account-circle"></i> @User.Identity.Name</li>
          <li>@Html.ActionLink("Afmelden", "SignOut", "Account")</li>
}
else
{
        <li>@Html.ActionLink("Aanmelden", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
