@model CRMSanto.ViewModels.KlantDetailsPM

@{
    ViewBag.Title = "Details";
}

<table>
    <tbody>
    <tr>
        <td>
            <img src="@Html.GetPhotoURL(Html.DisplayFor(model => model.Klant.Foto).ToString())" alt="" class="profilepic shadow-z-1 large" />
        </td>
        <td>
            <h1 class="clienttitle">@Html.DisplayFor(model => model.Klant.Naam) @Html.DisplayFor(model => model.Klant.Voornaam)</h1>
        </td>
        </tr>
    </tbody>
</table>       
