@model CRMSanto.ViewModels.KlantDetailsPM

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-12">
        <h2>TESTJES</h2>
        <!-- AANTAL AFSPRAKEN: SIMPELE COUNT -->
        <p>Aantal afspraken: @Html.DisplayFor(model => model.Afspraken.Count)</p>

        <!-- AANTAL PRODUCTEN: FOREACH REGISTRATIE -> AANTAL VERKOCHT TOEVOEGEN -->
        @{int producten = 0;}
        @for (var i = 0; i < Model.Producten.Count; i++)
        { producten = producten + Model.Producten[i].Aantal; }
        <p>Aantal gekochte producten: @producten</p>
    </div>
</div>